body {
    background: linear-gradient(90deg, rgba(241,30,30,1) 0%, rgba(9,9,121,0.4096989137451855) 35%, rgba(45,64,254,1) 100%);
}

.card {
    margin: 0 auto !important;
    float: none !important;
    margin-top: 150px !important;
}